@import './common';

body {
  padding-bottom: 15px;
}

a {
  display: block;
  text-decoration: none;
  height: 100%;
  color: #212121;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-form {
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 70px;
  padding: 15px;
  text-align: center;
  background-color: #189fbe;
}

input {
  height: 100%;
  width: 350px;
  border-radius: 4px;
  border: 1px solid rgb(38, 2, 103);
  font-size: 18px;
  padding: 10px;
  color: #212121;
  transition: outline var(--animation-duration) var(--timing-function);

  &:focus {
    outline: 1px solid rgb(38, 2, 103);
  }
}

.search-btn {
  background-image: url(/src/image/search-search-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;

  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgb(38, 2, 103);

  cursor: pointer;

  transform: translate(-40px, 2.5px);
  transition: outline var(--animation-duration) var(--timing-function);

  &:hover {
    outline: 1px solid rgb(38, 2, 103);
  }
}

.gallery {
  padding: 15px;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-card {
  flex-basis: calc((100% - 60px) / 4);
}

.gallery img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.photo-card {
  border-radius: 4px;
  border: 1px solid #189fbe;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform var(--animation-duration) var(--timing-function);

  &:hover {
    transform: scale(1.03);
  }
}

.info {
  text-align: center;
  display: flex;
  gap: 20px;

  padding: 0 20px;
}

.info-items {
  flex-basis: calc((100% - 60px) / 4);
}

.load-more {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: 50px;

  background-color: #189fbe;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  text-align: center;
  font-weight: 700;
  font-size: 25px;
  color: #212121;

  transition: transform var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid rgb(38, 2, 103);
    color: rgb(38, 2, 103);
    outline: 0;
    transform: scale(1.03);
  }
}
